[vehicle_names]
vehicle1	=	Suzuki Alto HA25S
vehicle2	=	Toyota Corolla 1.6
vehicle3	=	Daewoo Bus SXC6720G

[current_vehicle]
vehicle = vehicle3

[vehicle1]
vehicle_length=3.396
vehicle_width=1.476
vehicle_heigt=1.536
wheelbase=2.399
front_track=1.289
ground_clearance=0.155
tire_width=0.145

[vehicle2]
vehicle_length=4.544
vehicle_width=1.761
vehicle_heigt=1.469
wheelbase=2.601
front_track=1.521
ground_clearance=0.15
tire_width=0.205

[vehicle3]
vehicle_length=7.3
vehicle_width=2.26
vehicle_heigt=2.95
wheelbase=3.8
front_track=1.64
ground_clearance=0.165
tire_width=0.215
