[general]
debug_mode = true

[paths]
pointcloud_folder = /home/khan/phd_ws/traversability/pointclouds/rti_analysis2/
configuations_folder = /home/khan/phd_ws/traversability/configs/analysis_new/
adjaceny_folder = /home/khan/phd_ws/traversability/adjacency/analysis_new/

[road_info]
road_min_x	=	-3
road_max_x	=	3
road_min_y	=	-10
road_max_y	= 	10
road_width	=	6
road_length	=	20

[dem_parameters]
neighbour_radius	= 	0.1
dimension_x	=	61
dimension_y	=	201
distance_max	=	10
distance_cluster	=	0.15
plane_threshold = 0.01

[prm_parameters]
config_x_count	=	25
config_y_count	=	81
config_theta_count	=	7
min_theta	=	60
max_theta	=	120
negative_obs_threshold=-0.2
config_neighbour_radius=2.0
prm_step_size=0.1
